In [3]:
import pandas as pd
data = pd.read_csv("mock_student_data.csv")

In [4]:
import numpy as np
import statistics as stat

In [15]:
#generate summary statistics for each field
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,1000.0,500.500000,288.819436,1.0,250.75,500.5,750.25,1000.0
Age,771.0,16.996109,1.458067,15.0,16.00,17.0,18.00,19.0
GPA,779.0,2.988447,0.818249,2.0,2.00,3.0,4.00,4.0
Days_missed,808.0,18.011139,9.629371,2.0,9.00,18.0,27.00,34.0

In [23]:
data.mode()

   ID First_name Last_name  State  Gender   Age  GPA  Days_missed Graduated
0 NaN        Amy      Ross  Texas  Female  15.0  2.0          6.0       Yes
1 NaN        NaN       NaN    NaN     NaN   NaN  NaN         14.0       NaN
2 NaN        NaN       NaN    NaN     NaN   NaN  NaN         31.0       NaN

In [3]:
import matplotlib.pyplot as plt

In [34]:
#gender count figure
gender_dist = data.groupby('Gender')['Gender'].agg('count')
gender_dist.plot(kind='bar')
plt.title('Distribution of Students Gender')
plt.savefig('genderplot.png')

In [4]:
age_dist = data.groupby('Age')['Age'].agg('count')
age_dist.plot(kind='bar')
plt.title('Distribution of Students Age')
plt.savefig('ageplot.png')

In [5]:
gpa_dist = data.groupby('GPA')['GPA'].agg('count')
gpa_dist.plot(kind='bar')
plt.title('Distribution of Students GPA')
plt.savefig('gpaplot.png')

In [6]:
days_dist = data.groupby('Days_missed')['Days_missed'].agg('count')
days_dist.plot(kind='bar')
plt.title('Distribution of Days Missed in School')
plt.savefig('daysplot.png')

In [7]:
graduate_dist = data.groupby('Graduated')['Graduated'].agg('count')
graduate_dist.plot(kind='bar')
plt.title('Distribution of Graduation Result')
plt.savefig('gradplot.png')

In [22]:
#count the number of missing values of each field 
fn_miss = sum(data['First_name'].isnull().values.ravel())
ln_miss = sum(data['Last_name'].isnull().values.ravel())
state_miss = sum(data['State'].isnull().values.ravel())
gender_miss = sum(data['Gender'].isnull().values.ravel())
age_miss = sum(data['Age'].isnull().values.ravel())
gpa_miss = sum(data['GPA'].isnull().values.ravel())
dmiss_miss = sum(data['Days_missed'].isnull().values.ravel())
graduate_miss = sum(data['Graduated'].isnull().values.ravel())

print (fn_miss, ln_miss, state_miss, gender_miss, age_miss, gpa_miss, dmiss_miss,graduate_miss)

0 0 116 226 229 221 192 0

In [1]:
import requests
gender_request = requests.get('http://api.genderize.io/?name=peter')
gender_request.text

'{"name":"peter","gender":"male","probability":"1.00","count":4373}'

In [5]:
data_fillgender = data

In [6]:
for i in range(0,1000):
    if data_fillgender['Gender'][i] not in ['Female','Male']:
            name = data_fillgender['First_name'][i]
            url = 'http://api.genderize.io/?name=' + name 
            r = requests.get(url)
            r_json = r.json()
            data_fillgender['Gender'][i] = r_json['gender']

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
data_fillgender.head()

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,19.0,NaN,9.0,Yes
1,2,Ann,Matthews,Pennsylvania,Female,18.0,3.0,NaN,Yes
2,3,George,Matthews,Texas,male,17.0,NaN,10.0,Yes
3,4,Jerry,Ramos,California,Male,15.0,2.0,28.0,No
4,5,Andrea,Carroll,North Carolina,Female,NaN,2.0,29.0,No

In [69]:
#question 1 part 3 (1)
data['Age'].mean()

16.996108949416342

In [70]:
data.mean()

ID             500.500000
Age             16.996109
GPA              2.988447
Days_missed     18.011139
dtype: float64

In [77]:
data_fillna1 = data.fillna(data.mean())

In [79]:
#question1 part 3 (2)
data.groupby(['Graduated']).mean()

                   ID        Age       GPA  Days_missed
Graduated
No         490.066339  17.051780  2.515971    19.228501
Yes        507.661046  16.958874  3.505376    16.775561

In [9]:
data_fillna2 = data

In [10]:
import numpy as np

In [11]:
for i in range(1000):
    if np.isnan(data_fillna2['Age'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['Age'][i] = 17.051780 
    elif np.isnan(data_fillna2['Age'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['Age'][i] = 16.958874

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
for i in range(1000):
    if np.isnan(data_fillna2['GPA'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['GPA'][i] = 2.515971 
    elif np.isnan(data_fillna2['GPA'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['GPA'][i] = 3.505376

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
for i in range(1000):
    if np.isnan(data_fillna2['Days_missed'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['Days_missed'][i] = 19.288501 
    elif np.isnan(data_fillna2['Days_missed'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['Days_missed'][i] = 16.775561

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
data_fillna2.head()

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,19.00000,3.505376,9.000000,Yes
1,2,Ann,Matthews,Pennsylvania,Female,18.00000,3.000000,16.775561,Yes
2,3,George,Matthews,Texas,male,17.00000,3.505376,10.000000,Yes
3,4,Jerry,Ramos,California,Male,15.00000,2.000000,28.000000,No
4,5,Andrea,Carroll,North Carolina,Female,17.05178,2.000000,29.000000,No

question 1 part 3 (3)
a better way to infer is to take conditional average according to graduated or not and gender 
Age should be filled with average value

In [8]:
#question 1 part 3 (3)
data.groupby(['Graduated','Gender']).mean()

                          ID        Age       GPA  Days_missed
Graduated Gender
No        Female  491.741935  17.008850  2.496774    19.129032
          Male    457.675159  17.218487  2.547771    19.248408
Yes       Female  504.563786  16.859375  3.510067    17.185185
          Male    484.191781  16.969880  3.496454    15.268966

In [15]:
data_fillna3 = data

In [16]:
data_fillna3['Age'] = data.fillna(data.mean())

In [17]:
for i in range(1000):
    if np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Female':
        data_fillna2['GPA'][i] = 2.496774 
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 2.5547771
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 3.510067
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 3.496454

In [18]:
for i in range(1000):
    if np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Female':
        data_fillna2['Days_missed'][i] = 19.129032
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 19.248408
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 17.185185
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 15.268966

In [19]:
data_fillna3.head()

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,1,3.505376,9.000000,Yes
1,2,Ann,Matthews,Pennsylvania,Female,2,3.000000,16.775561,Yes
2,3,George,Matthews,Texas,male,3,3.505376,10.000000,Yes
3,4,Jerry,Ramos,California,Male,4,2.000000,28.000000,No
4,5,Andrea,Carroll,North Carolina,Female,5,2.000000,29.000000,No

In [23]:
data_fillna3.to_csv('data_fillna3')