In [1]:
import pandas as pd
data = pd.read_csv("mock_student_data.csv")

In [3]:
import numpy as np
import statistics as stat

In [15]:
#generate summary statistics for each field
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,1000.0,500.500000,288.819436,1.0,250.75,500.5,750.25,1000.0
Age,771.0,16.996109,1.458067,15.0,16.00,17.0,18.00,19.0
GPA,779.0,2.988447,0.818249,2.0,2.00,3.0,4.00,4.0
Days_missed,808.0,18.011139,9.629371,2.0,9.00,18.0,27.00,34.0

In [23]:
data.mode()

   ID First_name Last_name  State  Gender   Age  GPA  Days_missed Graduated
0 NaN        Amy      Ross  Texas  Female  15.0  2.0          6.0       Yes
1 NaN        NaN       NaN    NaN     NaN   NaN  NaN         14.0       NaN
2 NaN        NaN       NaN    NaN     NaN   NaN  NaN         31.0       NaN

In [3]:
import matplotlib.pyplot as plt

In [34]:
#gender count figure
gender_dist = data.groupby('Gender')['Gender'].agg('count')
gender_dist.plot(kind='bar')
plt.title('Distribution of Students Gender')
plt.savefig('genderplot.png')

In [4]:
age_dist = data.groupby('Age')['Age'].agg('count')
age_dist.plot(kind='bar')
plt.title('Distribution of Students Age')
plt.savefig('ageplot.png')

In [5]:
gpa_dist = data.groupby('GPA')['GPA'].agg('count')
gpa_dist.plot(kind='bar')
plt.title('Distribution of Students GPA')
plt.savefig('gpaplot.png')

In [6]:
days_dist = data.groupby('Days_missed')['Days_missed'].agg('count')
days_dist.plot(kind='bar')
plt.title('Distribution of Days Missed in School')
plt.savefig('daysplot.png')

In [7]:
graduate_dist = data.groupby('Graduated')['Graduated'].agg('count')
graduate_dist.plot(kind='bar')
plt.title('Distribution of Graduation Result')
plt.savefig('gradplot.png')

In [22]:
#count the number of missing values of each field 
fn_miss = sum(data['First_name'].isnull().values.ravel())
ln_miss = sum(data['Last_name'].isnull().values.ravel())
state_miss = sum(data['State'].isnull().values.ravel())
gender_miss = sum(data['Gender'].isnull().values.ravel())
age_miss = sum(data['Age'].isnull().values.ravel())
gpa_miss = sum(data['GPA'].isnull().values.ravel())
dmiss_miss = sum(data['Days_missed'].isnull().values.ravel())
graduate_miss = sum(data['Graduated'].isnull().values.ravel())

print (fn_miss, ln_miss, state_miss, gender_miss, age_miss, gpa_miss, dmiss_miss,graduate_miss)

0 0 116 226 229 221 192 0

In [33]:
import requests
gender_request = requests.get('http://api.genderize.io/?name=peter')
gender_request.text

'{"error":"Request limit reached"}'

In [29]:
data_fillgender = data

In [31]:
for i in range(0,1000):
    if data_fillgender['Gender'][i] not in ['Female','Male']:
            name = data_fillgender['First_name'][i]
            url = 'http://api.genderize.io/?name=' + name 
            r = requests.get(url)
            r_json = r.json()
            data_fillgender['Gender'][i] = r_json['gender']

KeyError: 'gender'

In [27]:
data_fillgender.heand()

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,male,19.0,NaN,9.0,Yes
1,2,Ann,Matthews,Pennsylvania,male,18.0,3.0,NaN,Yes
2,3,George,Matthews,Texas,male,17.0,NaN,10.0,Yes
3,4,Jerry,Ramos,California,male,15.0,2.0,28.0,No
4,5,Andrea,Carroll,North Carolina,male,NaN,2.0,29.0,No
5,6,Annie,Fisher,Virginia,male,19.0,NaN,5.0,Yes
6,7,Stephanie,Barnes,Oklahoma,male,NaN,3.0,20.0,No
7,8,Janet,Jenkins,Louisiana,male,15.0,4.0,20.0,Yes
8,9,Betty,Miller,NaN,male,17.0,3.0,23.0,No
9,10,Henry,Woods,Colorado,male,19.0,4.0,14.0,Yes
10,11,Stephanie,Harris,NaN,male,NaN,NaN,3.0,Yes
11,12,Samuel,George,Georgia,male,15.0,3.0,13.0,No
12,13,Todd,Phillips,Indiana,male,NaN,2.0,3.0,Yes
13,14,Nicholas,Rice,Florida,male,NaN,2.0,8.0,No
14,15,Jacqueline,Wallace,New York,male,NaN,2.0,26.0,No
15,16,Phyllis,Burton,Texas,male,16.0,3.0,18.0,No
16,17,Sandra,Hudson,NaN,male,NaN,4.0,20.0,Yes
17,18,Karen,Bell,Mississippi,male,17.0,3.0,10.0,No
18,19,Lori,Patterson,New York,male,18.0,NaN,17.0,Yes
19,20,Ann,Banks,Pennsylvania,male,15.0,4.0,18.0,Yes
20,21,Sara,Williams,NaN,male,17.0,NaN,24.0,Yes
21,22,Benjamin,Butler,Connecticut,male,18.0,NaN,4.0,Yes
22,23,Lori,Lopez,NaN,male,19.0,3.0,15.0,No
23,24,Ryan,Porter,New York,male,15.0,2.0,10.0,No
24,25,Anthony,Burke,Texas,male,16.0,2.0,14.0,No
25,26,Katherine,Rodriguez,Arizona,male,16.0,4.0,3.0,Yes
26,27,Harry,Larson,NaN,male,18.0,3.0,15.0,No
27,28,Joyce,Patterson,Virginia,male,18.0,4.0,22.0,Yes
28,29,Jonathan,Wells,Indiana,male,19.0,NaN,20.0,Yes
29,30,Jesse,Hamilton,New York,male,19.0,2.0,27.0,No
...,...,...,...,...,...,...,...,...,...
970,971,Michelle,Greene,Oklahoma,male,NaN,4.0,8.0,Yes
971,972,Christopher,Stanley,Colorado,male,16.0,2.0,29.0,No
972,973,Jeffrey,Mason,Georgia,male,NaN,4.0,NaN,Yes
973,974,Phyllis,Smith,NaN,male,NaN,4.0,22.0,Yes
974,975,Jessica,Montgomery,Michigan,male,18.0,3.0,18.0,No
975,976,Jessica,Wheeler,California,male,NaN,2.0,NaN,Yes
976,977,Carl,Bryant,Ohio,male,17.0,2.0,29.0,No
977,978,Wanda,Rivera,New York,male,18.0,4.0,16.0,Yes
978,979,Betty,Reid,Delaware,male,15.0,3.0,3.0,Yes
979,980,Ruby,Diaz,Ohio,male,15.0,4.0,30.0,Yes
980,981,Thomas,Myers,Texas,male,15.0,3.0,2.0,Yes
981,982,Jane,Sims,Texas,male,19.0,2.0,25.0,No
982,983,Laura,Nelson,NaN,male,17.0,2.0,NaN,Yes
983,984,Jessica,Gonzales,Nevada,male,17.0,3.0,15.0,No
984,985,Ralph,Freeman,California,male,18.0,3.0,31.0,No
985,986,Jose,Jordan,Connecticut,male,NaN,4.0,20.0,Yes
986,987,Andrea,Banks,California,male,19.0,2.0,11.0,No
987,988,Gloria,Ross,Missouri,male,NaN,4.0,NaN,Yes
988,989,Harry,Carr,Nebraska,male,16.0,NaN,34.0,Yes
989,990,Anthony,Sanders,District of Columbia,male,15.0,4.0,2.0,Yes
990,991,Ruby,King,California,male,18.0,4.0,14.0,Yes
991,992,Deborah,King,New York,male,19.0,4.0,31.0,Yes
992,993,Arthur,Green,Oklahoma,male,NaN,4.0,20.0,Yes
993,994,Earl,Weaver,Ohio,male,19.0,2.0,26.0,No
994,995,Ralph,Lopez,District of Columbia,male,16.0,4.0,NaN,Yes
995,996,Frank,Stone,Louisiana,male,16.0,4.0,25.0,Yes
996,997,Shirley,Garrett,Minnesota,male,15.0,4.0,NaN,Yes
997,998,Jane,Rodriguez,Ohio,male,17.0,NaN,20.0,Yes
998,999,Robin,George,California,male,19.0,NaN,NaN,Yes
999,1000,Martin,Fowler,Texas,male,18.0,3.0,19.0,No

In [69]:
#question 1 part 3 (1)
data['Age'].mean()

16.996108949416342

In [70]:
data.mean()

ID             500.500000
Age             16.996109
GPA              2.988447
Days_missed     18.011139
dtype: float64

In [77]:
data_fillna1 = data.fillna(data.mean())

In [79]:
#question1 part 3 (2)
data.groupby(['Graduated']).mean()

                   ID        Age       GPA  Days_missed
Graduated
No         490.066339  17.051780  2.515971    19.228501
Yes        507.661046  16.958874  3.505376    16.775561

In [120]:
data_fillna2 = data

In [89]:
import numpy as np

In [124]:
for i in range(1000):
    if np.isnan(data_fillna2['Age'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['Age'][i] = 17.051780 
    elif np.isnan(data_fillna2['Age'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['Age'][i] = 16.958874

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [126]:
for i in range(1000):
    if np.isnan(data_fillna2['GPA'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['GPA'][i] = 2.515971 
    elif np.isnan(data_fillna2['GPA'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['GPA'][i] = 3.505376

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [129]:
for i in range(1000):
    if np.isnan(data_fillna2['Days_missed'][i]) and data_fillna2['Graduated'][i]=='No':
        data_fillna2['Days_missed'][i] = 19.288501 
    elif np.isnan(data_fillna2['Days_missed'][i]) and data_fillna2['Graduated'][i]=='Yes':
        data_fillna2['Days_missed'][i] = 16.775561

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [131]:
data_fillna2

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,19.000000,3.505376,9.000000,Yes
1,2,Ann,Matthews,Pennsylvania,Female,18.000000,3.000000,16.775561,Yes
2,3,George,Matthews,Texas,NaN,17.000000,3.505376,10.000000,Yes
3,4,Jerry,Ramos,California,Male,15.000000,2.000000,28.000000,No
4,5,Andrea,Carroll,North Carolina,Female,17.051780,2.000000,29.000000,No
5,6,Annie,Fisher,Virginia,Female,19.000000,3.505376,5.000000,Yes
6,7,Stephanie,Barnes,Oklahoma,Female,17.051780,3.000000,20.000000,No
7,8,Janet,Jenkins,Louisiana,Female,15.000000,4.000000,20.000000,Yes
8,9,Betty,Miller,NaN,NaN,17.000000,3.000000,23.000000,No
9,10,Henry,Woods,Colorado,Male,19.000000,4.000000,14.000000,Yes
10,11,Stephanie,Harris,NaN,Female,16.958874,3.505376,3.000000,Yes
11,12,Samuel,George,Georgia,Male,15.000000,3.000000,13.000000,No
12,13,Todd,Phillips,Indiana,NaN,16.958874,2.000000,3.000000,Yes
13,14,Nicholas,Rice,Florida,Male,17.051780,2.000000,8.000000,No
14,15,Jacqueline,Wallace,New York,Female,17.051780,2.000000,26.000000,No
15,16,Phyllis,Burton,Texas,Female,16.000000,3.000000,18.000000,No
16,17,Sandra,Hudson,NaN,Female,16.958874,4.000000,20.000000,Yes
17,18,Karen,Bell,Mississippi,Female,17.000000,3.000000,10.000000,No
18,19,Lori,Patterson,New York,Female,18.000000,3.505376,17.000000,Yes
19,20,Ann,Banks,Pennsylvania,Female,15.000000,4.000000,18.000000,Yes
20,21,Sara,Williams,NaN,Female,17.000000,3.505376,24.000000,Yes
21,22,Benjamin,Butler,Connecticut,Male,18.000000,3.505376,4.000000,Yes
22,23,Lori,Lopez,NaN,Female,19.000000,3.000000,15.000000,No
23,24,Ryan,Porter,New York,Male,15.000000,2.000000,10.000000,No
24,25,Anthony,Burke,Texas,NaN,16.000000,2.000000,14.000000,No
25,26,Katherine,Rodriguez,Arizona,Female,16.000000,4.000000,3.000000,Yes
26,27,Harry,Larson,NaN,Male,18.000000,3.000000,15.000000,No
27,28,Joyce,Patterson,Virginia,Female,18.000000,4.000000,22.000000,Yes
28,29,Jonathan,Wells,Indiana,Male,19.000000,3.505376,20.000000,Yes
29,30,Jesse,Hamilton,New York,Male,19.000000,2.000000,27.000000,No
...,...,...,...,...,...,...,...,...,...
970,971,Michelle,Greene,Oklahoma,Female,16.958874,4.000000,8.000000,Yes
971,972,Christopher,Stanley,Colorado,Male,16.000000,2.000000,29.000000,No
972,973,Jeffrey,Mason,Georgia,Male,16.958874,4.000000,16.775561,Yes
973,974,Phyllis,Smith,NaN,NaN,16.958874,4.000000,22.000000,Yes
974,975,Jessica,Montgomery,Michigan,Female,18.000000,3.000000,18.000000,No
975,976,Jessica,Wheeler,California,Female,16.958874,2.000000,16.775561,Yes
976,977,Carl,Bryant,Ohio,NaN,17.000000,2.000000,29.000000,No
977,978,Wanda,Rivera,New York,Female,18.000000,4.000000,16.000000,Yes
978,979,Betty,Reid,Delaware,NaN,15.000000,3.000000,3.000000,Yes
979,980,Ruby,Diaz,Ohio,Female,15.000000,4.000000,30.000000,Yes
980,981,Thomas,Myers,Texas,Male,15.000000,3.000000,2.000000,Yes
981,982,Jane,Sims,Texas,Female,19.000000,2.000000,25.000000,No
982,983,Laura,Nelson,NaN,Female,17.000000,2.000000,16.775561,Yes
983,984,Jessica,Gonzales,Nevada,Female,17.000000,3.000000,15.000000,No
984,985,Ralph,Freeman,California,Male,18.000000,3.000000,31.000000,No
985,986,Jose,Jordan,Connecticut,Male,16.958874,4.000000,20.000000,Yes
986,987,Andrea,Banks,California,Female,19.000000,2.000000,11.000000,No
987,988,Gloria,Ross,Missouri,NaN,16.958874,4.000000,16.775561,Yes
988,989,Harry,Carr,Nebraska,NaN,16.000000,3.505376,34.000000,Yes
989,990,Anthony,Sanders,District of Columbia,NaN,15.000000,4.000000,2.000000,Yes
990,991,Ruby,King,California,Female,18.000000,4.000000,14.000000,Yes
991,992,Deborah,King,New York,Female,19.000000,4.000000,31.000000,Yes
992,993,Arthur,Green,Oklahoma,Male,16.958874,4.000000,20.000000,Yes
993,994,Earl,Weaver,Ohio,Male,19.000000,2.000000,26.000000,No
994,995,Ralph,Lopez,District of Columbia,NaN,16.000000,4.000000,16.775561,Yes
995,996,Frank,Stone,Louisiana,Male,16.000000,4.000000,25.000000,Yes
996,997,Shirley,Garrett,Minnesota,Female,15.000000,4.000000,16.775561,Yes
997,998,Jane,Rodriguez,Ohio,NaN,17.000000,3.505376,20.000000,Yes
998,999,Robin,George,California,Female,19.000000,3.505376,16.775561,Yes
999,1000,Martin,Fowler,Texas,Male,18.000000,3.000000,19.000000,No

question 1 part 3 (3)
a better way to infer is to take conditional average according to graduated or not and gender 
Age should be filled with median

In [8]:
#question 1 part 3 (3)
data.groupby(['Graduated','Gender']).mean()

                          ID        Age       GPA  Days_missed
Graduated Gender
No        Female  491.741935  17.008850  2.496774    19.129032
          Male    457.675159  17.218487  2.547771    19.248408
Yes       Female  504.563786  16.859375  3.510067    17.185185
          Male    484.191781  16.969880  3.496454    15.268966

In [12]:
data_fillna3 = data

In [13]:
data_fillna3['Age'] = data.fillna(data.mean())

In [ ]:
for i in range(1000):
    if np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Female':
        data_fillna2['GPA'][i] = 2.496774 
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 2.5547771
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 3.510067
    elif np.isnan(data_fillna3['GPA'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['GPA'][i] = 3.496454

In [ ]:
for i in range(1000):
    if np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Female':
        data_fillna2['Days_missed'][i] = 19.129032
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='No'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 19.248408
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 17.185185
    elif np.isnan(data_fillna3['Days_missed'][i]) and data_fillna3['Graduated'][i]=='Yes'and data_fillna3['Gender']=='Male':
        data_fillna2['Days_missed'][i] = 15.268966